# === Database Credentials ===
POSTGRES_DB=dvsleerstvo
POSTGRES_USER=dvsleerstvo_user
POSTGRES_PASSWORD=dvsleerstvo_password

# === Web App Configuration ===
DEBUG=True
SECRET_KEY=your_secret_key_here_please_change_it

# === Discord Bot & Webhooks ===
BOT_TOKEN=YOUR_BOT_TOKEN_HERE
BOT_API_SECRET=secret
REQUEST_CHANNEL_ID=YOUR_CHANNEL_ID_HERE
DISCORD_WEBHOOK_URL=your_discord_webhook_url_here

# === S3 DB Backup Configuration (Optional) ===
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=
S3_LOCATION=
